.box{
    width: 100px;
    height: 100px;
    background-color: aqua;
    font-size: 5em;
    text-align: center;
    animation-name: slideRight;
    animation-duration: 2s;
    overflow: hidden;
    margin-left: 100px;
    display: inline-block;

}
.box2{
    width: 100px;
    height: 100px;
    background-color: aqua;
    font-size: 5em;
    text-align: center;
    animation-name: slideLeft;
    animation-duration: 2s;
    overflow: hidden;
    /* margin-left: 100px; */
    display: inline-block;

}

@keyframes slideLeft{
    from{transform: translateX(300%);}
}

@keyframes slideRight{
    to{transform: translateX(300%);}
}
