{% extends "base.html" %}
{% block title %} Campaign Page {% endblock%}


{% block content %}

<div class="container mt-5">
    <h3>Edit Campaign</h3>
    <form method="POST">
      <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" name="title" class="form-control" value="{{ campaign[0] }}" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Content</label>
        <textarea name="content" rows="6" class="form-control" required>{{ campaign[1] }}</textarea>
      </div>
      <button type="submit" class="btn btn-primary">Update Event</button>
      <a href="/campaigns" class="btn btn-secondary">Cancel</a>
    </form>
  </div>

  {% endblock %}
  