{% extends "base.html" %}
{% block title %} Home Page {% endblock%}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}


{% block content %}


<!-- Hero Section -->
<header class="hero-section d-flex align-items-center justify-content-center text-white text-center">
  <div class="overlay"></div>
  <div class="hero-content">
    <h1 style="font-family: cursive;" class="display-5 fw-bold py-2">Nalepo Organization</h1>
    <h2 style="font-size: 25px; font-family: sans-serif;" class="fw-semibold mb-4 text-highlight">
      Empowering lives, restoring hope, and building a better tomorrow<br> through compassion and community-driven action.
    </h2>
    <div class="d-flex flex-wrap justify-content-center gap-3">
      <a href="#" class="btn btn-success px-4 py-2 fw-semibold but1" data-aos="slide-right" data-aos-delay="100" data-aos-duration="1000">Donate</a>
      <a href="#" class="btn btn-outline-light px-4 py-2 fw-semibold but1" data-aos="slide-left" data-aos-delay="100" data-aos-duration="1000">Volunteer</a>
    </div>
  </div>
</header>

</body>
</html>


{% endblock %}