{% extends "base.html" %}
{% block title %} Register Page {% endblock%}


{% block content %}

register

<div class="container mt-5" style="max-width: 500px;">
    <h3 class="text-center mb-4">Register</h3>
    <form method="POST" action="{{ url_for('register') }}">
        
        <div class="mb-3">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" name="name" class="form-control" id="name" required placeholder="Enter your name">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" name="email" class="form-control" id="email" required placeholder="Enter your email">
        </div>

        <div class="mb-3">
            <label for="pass" class="form-label">Password</label>
            <input type="password" name="pass" class="form-control" id="pass" required placeholder="Create a password">
        </div>

        <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <select name="role" id="role" class="form-select" required>
                <option value="">-- Select Role --</option>
                <option value="member">Member</option>
                <option value="admin">Admin</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success w-100">Register</button>
    </form>
</div>

{% endblock %}
